*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    color: white;
}

#check{
  margin: 0 45%;
  background-color: #3498db;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  transition: all .3s ease-in-out; 
}

.err{
    margin-left: 44%;
    margin-top: 7%;
}

p{
    margin-left: 10px;
    color: white;
}

.err a{
    margin: 0 auto;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.err a:hover{
    background-color: #143b55;
}
  
  .main-container {
    padding: 30px;
    display: none;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
  }
  
  .card-val{
    font-size: 2rem;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.25);
  }

  .card{
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }