<link rel="stylesheet" href="./styles/main.css">

<h1 class="logo">Health Tracker</h1>

    <nav>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/test">Take Test</a>
            <a href="/analytics">Analytics</a>
            <a href="/contact">Contact</a>
            <a href="/logout">Sign Out </a>
            <div class="animation start-home"></div>
        </div>
    </nav>